:root {
    --mc-bg:#1a1a1a;
    --mc-panel:#2d2d2d;
    --mc-border:#555;
    --mc-green:#55ff55;
    --mc-yellow:#ffff55;
    --mc-red:#ff5555;
    --mc-gray:#888;
    --mc-white:#e0e0e0;
    --mc-dirt:#8B6914;
    --mc-grass:#4a7c3f;
    --mc-gold:#FFD700;
    --mc-diamond:#4de6e6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mc-app {
    background-image: url('background/dirt.webp');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Press Start 2P', monospace;
    color: var(--mc-white);
    image-rendering: pixelated;
}

.bottom {
    position: relative;
    margin-top: 10px;
}

#mode-bar {
    display: flex;
    gap: 8px;
    margin-bottom: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

.mc-btn {
    font-family: 'Press Start 2P', monospace;
    font-size: 1em;
    padding: 20px 15px;
    background: #2B2B2B;
    border: 2px solid #666;
    border-bottom-color: #222;
    border-right-color: #222;
    color: var(--mc-gray);
    cursor: pointer;
    letter-spacing: 1px;
    transition: background .1s;
}

.mc-btn:hover {
    background: #4a4a4a;
    color: var(--mc-white);
}

.mc-btn:active {
    border-top-color: #222;
    border-left-color: #222;
    border-bottom-color: #666;
    border-right-color: #666;
    transform: translate(1px, 1px);
}

.mc-btn.active {
    background: #6F6F6F;
    border-color: #ADADAD;
    border-bottom-color: #545454;
    border-right-color: #666;
    color: white;
}

.very-title {
    justify-self: center;
    margin: 1em 0em;
    font-size: 1.2em;
}

#stats-bar {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-family: 'Press Start 2P', cursive;
    image-rendering: pixelated;
    background: black;
    border: 2px solid white;
    padding: 8px 12px;
    width: 35vw;
}

.stat-block {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stat-label {
    font-size: 18px;
    color: var(--mc-white);
    letter-spacing: 1px;
}

.stat-val {
    font-size: 28px;
    color: var(--mc-yellow);
}

#progress-wrap {
    margin-top: 1vh;
    height: 8px;
    background: black;
    overflow: hidden;
}

#progress-fill {
    height: 100%;
    width: 0%;
    background: var(--mc-grass);
    transition: width .3s;
    image-rendering: pixelated;
}

#word-display {
    background: #0000007c;
    border-bottom: 8px solid black;
    font-size: 1.48em;
    line-height: 2.2;
    letter-spacing: .05rem;
    height: 60vh;
    overflow: hidden;
    cursor: text;
    position: relative;
    width: 100%;
    padding: 2rem;
}

#words-wrap {
    position: relative;
    transition: transform .1s ease;
}

.word {
    display: inline-flex;
    margin-right: .55em;
    position: relative;
    flex-wrap: wrap;
}

.letter {
    display: inline-block;
    transition: color .04s;
}

.letter.correct {
    color: var(--mc-green);
}

.letter.wrong {
    color: var(--mc-red);
    text-decoration: underline;
    text-decoration-color: #ff3333;
}

.letter.extra {
    color: var(--mc-red);
}

.letter.pending {
    color: #666;
}

#caret {
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: var(--mc-white);
    pointer-events: none;
    opacity: 0;
}

#caret.active {
    opacity: 1;
}

#caret.blink {
    animation: mc-blink .7s step-end infinite;
}

@keyframes mc-blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
}

#bottom-bar {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

.hint-text {
    font-size: 21px;
    color: #555;
    letter-spacing: 1px;
}


#result-screen {
    display: none;
    background: #1a2a1a;
    border: 3px solid var(--mc-grass);
    border-bottom-color: #1a3a1a;
    border-right-color: #1a3a1a;
    padding: 20px;
    padding-top: 30vh;
    width: 100vw;
    height: 100vh;
}

#result-screen.show {
    display: block;
}

#result-title {
    font-size: 30px;
    color: var(--mc-yellow);
    text-align: center;
    margin-bottom: 32px;
    text-shadow: 1px 1px #333;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 8px;
    margin-bottom: 16px
}

.result-card {
    background: #111;
    border: 2px solid #444;
    border-top-color: #111;
    border-left-color: #111;
    padding: 10px 8px;
    text-align: center;
}

.r-label {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    color: var(--mc-gray);
    letter-spacing: 1px;
    margin-bottom: 6px;
    display: block;
}

.r-val {
    font-family: 'Press Start 2P', monospace;
    font-size: 32px;
    color: var(--mc-green);
    display: block;
}

#reuslt-screen.show {
    animation: flash-in .35s ease forwards;
}

#play-again-btn {
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
    padding: 8px 16px;
    color: var(--mc-yellow);
    border-color: var(--mc-gold)
}

.errors {
    color: var(--mc-red) !important;
}

@keyframes flash-in {
    0% {
        opacity: 0;
        transform: scale(.95);
    }
    30% {
        opacity: 1;
        transform: scale(1.01);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    pointer-events: none;
    animation: fall-particle .7s ease-out forwards;
}

@keyframes fall-particle {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(var(--dx), var(--dy)) scale(0);
    }
}