* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'VT323', monospace;
    background: url('background.png') no-repeat center center;
    background-size: cover;

    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    margin-top: -20vh;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin-top: 0vh;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 10vh;
}

.main-title {
    position: relative;
    width: 85%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.minetype {
    width: 100%;
    height: auto;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.7));
}

.splash {
    position: absolute;
    right: -25px;
    bottom: -10px;
    color: #ffff55;
    font-size: 30px;
    text-shadow: 2px 2px 0px #3f3f00;
    transform: rotate(-20deg);
    animation: splash-pulse 0.8s infinite alternate ease-in-out;
}

@keyframes splash-pulse {
    from {transform: rotate(-20deg) scale(1);}
    to {transform: rotate(-20deg) scale(1.05);}
}


.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.row {
    display: flex;
    gap: 12px;
    width: 100%;
}

.mc-button {
    flex: 1;
    height: 3rem;
    background-color: #707070;
    border: 4px solid #000000;
    outline: none;
    color: #FFFFFF;
    font-family: 'Minecraft', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset -4px -4px 0px #3a3a3a, inset 4px 4px 0px #8b8b8b;
    text-shadow: 2px 2px 0px #373737;
    text-decoration: none;
    box-sizing: border-box;
}

